*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Definition of 1 rem
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tablet-land) {
    font-size: 55%;
  }

  @include respond(tablet) {
    font-size: 50%;
  }

  @include respond(phone-land) {
    font-size: 47.5%;
  }
}

body {
  box-sizing: border-box;

  font-family: $primary-font;
}
