%heading {
  color: $color-white;
}

.heading-primary {
  @extend %heading;

  font-size: 5rem;

  @include respond(tablet-land) {
    font-size: 4.5rem;
  }

  @include respond(phone-land) {
    font-size: 4rem;
  }

  @include respond(phone) {
    font-size: 3rem;
  }
}

.heading-secendary {
  @extend %heading;

  font-size: 2.5rem;
}

.paragraph {
  color: $light-grey;
  font-size: 1.8rem;
}
