// COLORS

$dark-blue-1: hsl(217, 28%, 15%); // - Dark Blue (intro and email sign up background)
$dark-blue-2: hsl(218, 28%, 13%); // - Dark Blue (main background)
$dark-blue-3: hsl(216, 53%, 9%); // - Dark Blue (footer background)
$dark-blue-4: hsl(219, 30%, 18%); // - Dark Blue (testimonials background)

$color-cyan-gradient: hsl(176, 68%, 64%); // - Cyan (inside call-to-action gradient)
$color-blue-gradient: hsl(198, 60%, 50%); // - Blue (inside call-to-action gradient)
$error-red: hsl(0, 100%, 63%); // - Light Red (error)

$color-white: #fff;
$light-grey: hsl(236, 9%, 71%);
$color-black: #000;

// FONTS

$primary-font: 'Lato', sans-serif;
