.container {
  background-color: $dark-blue-2;

  display: grid;

  // grid-template-rows: min-content max-content;

  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      9,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];

  @include respond(phone) {
    grid-template-columns:
      [full-start] 1fr [center-start] repeat(9, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end] 1fr [full-end];
  }
}
